<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flask示例</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
   $('#date').datepicker({
       weekStart: 1,
       autoclose: true,
       daysOfWeekHighlighted: "0,6",
       format: "yyyy/mm/dd",
       language: "zh-CN"
   });
</script>
</head>
   <body>

    <form action = "{{ url_for('SearchResult') }}" method = "POST">
         <h3>工资查询</h3>
         <table border="1">
            <thead>
               <td>姓名</td>
               <td>
                  <select name="staff" id="">
                  {% for row in rows %}}
                    <option value ="{{ row['name']}}">{{ row["name"]}}</option>
                  {% endfor %}
                  <option value ="all">所有人</option>

                 </select>
              </td>
            </thead>
            <tr>
               <td>日期</td>
               
               <td><input type="date" value="" name="from"/></td>
               <td><input type="date" value="" name="to"/></td>
            </tr>
            <tr>
               <td>总金额</td>
               <td></td>
            </tr>
          </table>
      <input type = "submit" value = "查询" /><br>
     </form>

   </body>
</html>