<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flask示例</title>
</head>
   <body>

 
         <h3>工资查询</h3>
         <table border="1">
            <thead>
               <td>姓名</td>
               <td>{{Staffname}}</td>
            </thead>
            <tr>
               <td>日期</td>
               <td>{{ from_date}} - {{to_date}}</td>
            </tr>
            <tr>
               <td>总金额</td>
               <td>{{AA}}</td>
            </tr>
          </table>
      <input type = "submit" value = "查询" /><br>


   </body>
</html>